<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sss.dao.LogMapper" >
    <resultMap id="BaseResultMap" type="com.example.sss.model.domin.FileLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="file_id" jdbcType="INTEGER" property="fileId"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="operation" jdbcType="VARCHAR" property="operation"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <select id="selectLogByUserId"  resultMap="BaseResultMap" parameterType="com.example.sss.model.domin.FileLog">
        select * from bos_olg
        while user_id=#{userId}
    </select>

    <insert id="addLog">
        insert into obs_log
            (file_id,user_id,time,operation)
            values (#{fileId},#{userId},#{time},#{operation})
    </insert>

</mapper>